<div class="mat-app-background basic-container">

  <!-- <div class="border">
    <ul>
      <li *ngFor="let item of todos | async">
        {{ item.content }}
      </li>
    </ul>
    <input type="text" #f />
    <button (click)="addTodo(f)">Add Todo</button>
  </div> -->

  <div class="border w-100">
    <div class="example-container">
      <form [formGroup]="futForm">
        <mat-form-field class="w-100">
            <mat-select [formControl]="futForm.controls['futTeam']">
              <mat-option *ngFor='let t of team' [value]='t'>{{t.name}}</mat-option>
            </mat-select>
            <mat-label><mat-icon>star_rate</mat-icon>&nbsp;<b>Team</b></mat-label>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select [formControl]="futForm.controls['futPlayer']">
              <mat-option *ngFor="let player of futForm.controls['futTeam'].value.players" [value]="player.name">{{player.name}}</mat-option>
            </mat-select>
            <mat-label><b>Liste des joueurs</b></mat-label>
          </mat-form-field>
      </form>
    </div>
  </div>

  <app-form-field></app-form-field>
</div>