<div class="mat-app-background basic-container">
  <div class="border w-100">
    <div class="example-container">
      <form [formGroup]="futForm">
        <mat-form-field class="w-100">
          <mat-select [formControl]="futForm.controls['futTeam']">
            <mat-option *ngFor="let t of team" [value]="t" selected>{{
              t.name
            }}</mat-option>
          </mat-select>
          <mat-label><mat-icon>star_rate</mat-icon>&nbsp;<b>Team</b></mat-label>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-select [formControl]="futForm.controls['futPlayer']">
            <mat-option (click)="newPlayer()">
              <mat-icon>person_add</mat-icon> Nouveau joueur</mat-option
            >
            <mat-option
              *ngFor="let player of futForm.controls['futTeam'].value.players"
              [value]="player"
              (click)="setCurrentPlayer(player)"
              >{{ player.name }}</mat-option
            >
          </mat-select>
          <mat-label
            ><b>Liste des joueurs</b>&nbsp;
            <span>({{ numberOfPlayer }})</span></mat-label
          >
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="d-flex align-content-center">
    <app-form-field class="col-6 align-self-center"></app-form-field>
    <app-card class="col-6"></app-card>
  </div>
</div>
